{% extends "base.html" %}

{% load i18n %}

{% block extra_js %}
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    function parseQueryFromUrl () {
        var queryParamName = "q";
        var search = window.location.search.substr(1);
        var parts = search.split('&');
        for (var i = 0; i < parts.length; i++) {
              var keyvaluepair = parts[i].split('=');
              if (decodeURIComponent(keyvaluepair[0]) == queryParamName) {
                return decodeURIComponent(keyvaluepair[1].replace(/\+/g, ' '));
            }
        }
        return '';
    }
    (function() {
    var cx = '{{CX_CODE}}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<script type="text/javascript">
 var urlmenu = document.getElementById( 'archivosDrop' );
 urlmenu.onchange = function() {
      window.open( this.options[ this.selectedIndex ].value, '_self');
 };
</script>
{% endblock %}

{% block contenido %}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="revista-actual">
                <div class="sub-titulo">Resultados de búsqueda para: <b>{{q}}</b></div><br>
            </div>
                <div id="cse">
                    <gcse:searchresults-only>
                </div>
        </div>
        {% include "sidebar.html" %}
    </div>
</div>
<!--Mi css-->
<style type="text/css">
    .gs-result .gs-title, .gs-result .gs-title *{
        color: #a90129 !important;
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
    }
    .gs-webResult .gs-snippet, .gsc-result-info{
        font-family: 'Roboto',sans-serif;
        font-size: 14px;
    }
    .gsc-webResult .gsc-result{
            border-bottom: 1px solid #fbf2f4 !important;
            padding: 20px 0px !important;


    }
    .gsc-table-cell-thumbnail .gsc-thumbnail{
        padding-right:  10px !important;
    }
</style>
{% endblock %}
