{% extends "base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block contenido %}
<style type="text/css">
    .articulo-titulo{
        color:  #a90129;
        border-bottom: 1px solid    #fbf2f4;
    }
    .articulo-titulo .item ul{
        list-style: none;
        padding: 0px
    }
    .lista-articulos li a:hover{
        color:  #a90129;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="container-archivo">
                <div class="select-archivo">
                <ul>
                    <li class="dw"><h6> <span class="fa fa-file-o"> </span>Archivo año</h6></li>
                    <li class="dw">
                        <div class="dropdown">
                            <button class="dropdown-toggle dw-anos" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{query.0.ano}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for obj in all_year1 reversed %}
                                <li><a href="{% url 'archivos' obj.0 %}">{{obj.0}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
                    
                    
                </div>
                
            </div>
            <div class="articulos">

                    <div class="item">
                        
                             {% for valor in query %}
                             <h5 class="articulo-titulo"> {{valor.ano}} {{valor.get_mes_display}}  No.{{valor.numero}}</h5>
                            
                                <ul class="lista-articulos">
                                    {% for obj in valor.articulos_set.all %}
                                        <li><a href="{% url 'articulo-detalle' obj.id %}">{{obj}}</a></li>
                                    {% endfor %}
                                </ul>
            {% endfor %}
                        
                    </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="sidebar">
                <div class="lema">
                    <p>
                        {% blocktrans %}
                            Envío es información y análisis<br>de Nicaragua desde Nicaragua,<br> de Centroamérica desde Centroamérica<br>y de ese otro mundo posible<br>por el que trabajamos.
                        {% endblocktrans %}

                    </p>
                    <div class="borde"></div>
                </div>
                {% include "busqueda_go.html" %}
                <div class="idioma-container">
                    <h6>{% trans "Idioma" %}</h6>
                    <div class="idiomas container-fluid">
                        <div class="row">
                            <a href="/lang/es/" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 es {% if LANGUAGE_CODE == 'es' %}activo{% endif %} ">
                                {% trans "Español"%}
                            </a>
                            <a href="/lang/en/" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 en {% if LANGUAGE_CODE == 'en' %}activo{% endif %}">
                                {% trans "Inglés"%}
                            </a>
                            <a href="http://www.ans21.org" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 it" target="_blank">
                                {% trans "Italiano"%}
                            </a>
                        </div>
                    </div>

                </div>

                <div class="suscripcion-container ">
                    <h6>{% trans "Suscríbete"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Suscripción a la revista" %}
                            </a>
                        </div>

                    </div>

                </div>
                <div class="suscripcion-container ">
                    <h6>{% trans "Donación"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Haz tu donación ahora" %}
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
