{% extends "base.html" %}

{% load i18n %}
{% load disqus_tags %}
{% disqus_dev %}

{% block extra_js %}
<script src="/static/js/jquery.jfontsize-1.0.js"></script>
<script type="text/javascript" language="javascript">
	$( ".detalle h1" ).addClass( "changeMe" );
	$( ".detalle h2" ).addClass( "changeMe" );
	$( ".detalle h3" ).addClass( "changeMe" );
	$( ".detalle h4" ).addClass( "changeMe" );
	$( ".detalle h5" ).addClass( "changeMe" );
	$( ".detalle h6" ).addClass( "changeMe" );
	$('.changeMe').jfontsize({
		btnMinusClasseId: '#jfontsize-m2',
		btnDefaultClasseId: '#jfontsize-d2',
		btnPlusClasseId: '#jfontsize-p2',
		btnMinusMaxHits: 1,
		btnPlusMaxHits: 5,
		sizeChange: 2
	});
</script>
<script type="text/javascript">
 var urlmenu = document.getElementById( 'archivosDrop' );
 urlmenu.onchange = function() {
	  window.open( this.options[ this.selectedIndex ].value, '_self');
 };




</script>
{% endblock extra_js %}
{% block contenido %}
<style type="text/css">
		.barra-superior, .main-manu, .navbar-brand, .idiomas a.activo, .suscripcion a,
		footer,.navbar-toggle .icon-bar{

			background-color:  {{ultima_revista.color.color1}} ;
		}
		.idiomas a.activo{
			color: white;
			border-color: {{ultima_revista.color.color1}};
		}
		.paginado a, .navbar-toggle{
			border-color: {{ultima_revista.color.color1}};
		}
		.navbar-envios .navbar-nav>li.active>a, .navbar-envios .navbar-nav>li>a:focus,
		.navbar-envios .navbar-nav>li>a:hover, .revista-actual span, .pais,.pais span,
		.articulos p span a, .articulo-detalle h1, .articulo-detalle h2, .articulo-detalle h3,
		.articulo-detalle h4, .articulo-detalle h5, .articulo-detalle h6, a.link-titulo:hover,
		a.link-titulo:focus, blockquote .autor{
			color: {{ultima_revista.color.color1}};
		}
		hr{
			border-color: {{ultima_revista.color.color2}};

		}
		.revista-actual, .navbar-envios{
			border-bottom: 1px solid {{ultima_revista.color.color2}};
		}
		.sidebar, .sm-menu{
			background-color: {{ultima_revista.color.color2}};
		}
		.autor-articulo a:hover{
			color: {{ultima_revista.color.color1}};
		}
		blockquote{
            border-left:5px solid {{ultima_revista.color.color1}};

        }

	</style>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="revista-actual">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-8">
						<div class="detalle-pais">
							<span class="fa fa-calendar"> {{ ultima_revista.get_mes_display }} {{ultima_revista.ano}} </span>
							<span class="fa fa-file-o"> {% trans "NÚMERO" %}  {{ultima_revista.numero}} </span>

							
							<div class="detalle-articulo">
								<div class="autor-articulo">
									<a href="">
										<span class="fa fa-user"> </span> {{object.autor}}
									</a>
								</div>
								<div class="autor-articulo">
									
										<span class="fa fa-tag"> </span>
										<a href="">Cultura</a>, <a href="">Politica</a> 
									 
								</div>
							</div>
						</div>
						

					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
					<div class="fuente pull-right">
						<a class="jfontsize-button" id="jfontsize-m2" href="#">
						- A
						</a>

						<a class="jfontsize-button" id="jfontsize-d2" href="#">
						A
						</a>

						<a class="jfontsize-button" id="jfontsize-p2" href="#">
						A +
						</a>
					</div>

						<!--<div class="fuente pull-right">
							<select name="" id="input" class="form-control size" required="required">
								<option value="16">16px</option>
								<option value="18">18px</option>
								<option value="20">20px</option>
								<option value="22">22px</option>
							</select>
						</div>-->
					</div>
				</div>

			</div>

			<div class="articulo-detalle">
				<h6 class="pais">
					<span>	{{object.idzona}} - <span>OPINIÓN</span></span>
				</h6>
				
				<h5 class="titulo-detalle">
					{{object.titulo}}
				</h5>
				{% if object.autornota %}
				<blockquote class="quote changeMe">
					{{object.autornota|safe|linebreaks }}
					<div class="autor">
						{{object.autor}}
					</div>
				</blockquote>
				{%endif%}
				<div class="detalle changeMe">
					{{object.texto|safe|linebreaks }}
				</div>

				<!--Agregar paginado a alos articulos-->
				<div class="paginado">
		          
		             <a class="right" href="/?page={{ page_obj.next_page_number }}">
		                {% trans "Articulo anterior"%} <span class="fa fa-arrow-right"></span>
		            </a>
		           

		          
		                <a class="left" href="/?page={{ page_obj.previous_page_number }}">
		                <span class="fa fa-arrow-left"></span>{% trans "Articulo siguiente"%}
		                </a>
		          
		        </div>
			</div>
			<div class="social-share">
				<div class="row">
					<div class="col-xs-4 col-sm-6 col-md-6 col-lg-6" >
						<p>{% trans "Compartir este articulo" %}:</p>
					</div>
					<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" >
						<ul class="pull-right">
							<li>
								<a href="">
									<span class="fa fa-facebook" ></span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="fa fa-twitter" ></span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="fa fa-google-plus" ></span>
								</a>
							</li>

							<li>
								<a href="">
									<span class="fa fa-envelope" ></span>
								</a>
							</li>
							<li>
								<a href="">
									<span class="fa fa-print" ></span>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div> <!-- social share -->
			<div class="row">
				{% disqus_show_comments %}
			</div>
		</div>
		<div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
			<div class="sidebar">
				<div class="lema">
					<p>
						<span class="fa fa-quote-left "></span>
						{% blocktrans %}Envío es información y análisis de Nicaragua desde Nicaragua de Centroamérica desde Centroamérica y de ese otro mundo posible por el que trabajamos.{% endblocktrans %}
						<span class="fa fa-quote-right "></span>

					</p>
					<div class="borde"></div>
				</div>
				{% include "busqueda_go.html" %}
				<div class="idioma-container">
					<h6>{% trans "Idioma"%}</h6>
					<div class="idiomas container-fluid">
						<div class="row">
							<a href="/lang/es/" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 es  {% if LANGUAGE_CODE == 'es' %}activo{% endif %} ">
								{% trans "Español"%}
							</a>
							<a href="/lang/en/" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 en  {% if LANGUAGE_CODE == 'en' %}activo{% endif %}">
								{% trans "Ingles"%}
							</a>
						</div>
					</div>

				</div>
				<div class="suscripcion-container ">
					<h6>{% trans "ARCHIVO"%}</h6>
					<div class="suscripcion container-fluid">
						<div class="row">
							<select name="archivosDrop" id="archivosDrop" class="form-control archivo-select" required="required">
								{% for obj in all_year reversed %}
									<option value="/archivos/{{obj.0}}">{{obj.1}}</option>
								{% endfor %}
							</select>
						</div>

					</div>

				</div>

				<div class="suscripcion-container ">
					<h6>{% trans "En este mismo número"%}:</h6>
					{% for obj in  articulos %}
						<div class="item-detalle">

							<div class="detalle-pais">
								<div class="pais">
									{{obj.idzona}} - <span>OPINIÓN</span>
								</div>
							</div>
							<a class="link-titulo" href="{% url 'articulo-detalle' obj.id %}">
								{{obj.titulo|truncatewords:22|safe }}
							</a>
						</div>
					{% endfor %}



				</div>

			</div>
		</div>
	</div>
</div>
{% endblock contenido %}
