{% extends "base.html" %}

{% load i18n %}
{% load disqus_tags %}
{% disqus_dev %}

{% block extra_js %}
<script src="/static/js/jquery.jfontsize-1.0.js"></script>
<script type="text/javascript" language="javascript">
	$( ".detalle h1" ).addClass( "changeMe" );
	$( ".detalle h2" ).addClass( "changeMe" );
	$( ".detalle h3" ).addClass( "changeMe" );
	$( ".detalle h4" ).addClass( "changeMe" );
	$( ".detalle h5" ).addClass( "changeMe" );
	$( ".detalle h6" ).addClass( "changeMe" );
	$('.changeMe').jfontsize({
		btnMinusClasseId: '#jfontsize-m2',
		btnDefaultClasseId: '#jfontsize-d2',
		btnPlusClasseId: '#jfontsize-p2',
		btnMinusMaxHits: 1,
		btnPlusMaxHits: 5,
		sizeChange: 2
	});
	$('.btnprint').click(function() {
		window.print();
		return false;
	});
</script>
<script type="text/javascript">
 var urlmenu = document.getElementById( 'archivosDrop' );
 urlmenu.onchange = function() {
	  window.open( this.options[ this.selectedIndex ].value, '_self');
 };

</script>
<script src="/static/js/social.js"></script>
{% endblock extra_js %}
{% block share_fb %}
	<meta property="og:title" content="{{object.titulo}}" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="http://envio.org.ni/media/{{object.foto}}">
	<meta property="og:image:width" content="300" />
	<meta property="og:image:height" content="300" />
	<meta property="og:description" content="{{object.texto|linebreaks }}" />
	<meta property="og:url" content="http://envio.org.ni{{request.path}}" />
	<meta property="og:locale" content="es_ES" />
{% endblock share_fb %}
{% block contenido %}
<style type="text/css">
		.barra-superior, .main-manu, .navbar-brand, .idiomas a.activo, .suscripcion a,
		footer,.navbar-toggle .icon-bar{

			background-color:  {{ultima_revista.color.color1}} ;
		}
		.idiomas a.activo{
			color: white;
			border-color: {{ultima_revista.color.color1}};
		}
		.navbar-toggle{
			border-color: {{ultima_revista.color.color1}};
		}
		.revista-actual span, .pais,.pais span,
		.articulos p span a, .articulo-detalle h1, .articulo-detalle h2, .articulo-detalle h3,
		.articulo-detalle h4, .articulo-detalle h5, .articulo-detalle h6, a.link-titulo:hover,
		a.link-titulo:focus, blockquote .autor, .autor-articulo{
			color: {{ultima_revista.color.color1}} !important;
		}
		hr{
			border-color: {{ultima_revista.color.color2}};

		}
		.revista-actual, .navbar-envios{
			border-bottom: 1px solid {{ultima_revista.color.color2}};
		}
		.sidebar, .sm-menu,.articulo-detalle .suscripcion-container{
			background-color: {{ultima_revista.color.color2}};
		}
		.autor-articulo a:hover{
			color: {{ultima_revista.color.color1}};
		}
		blockquote{
            border-left:5px solid {{ultima_revista.color.color1}};

        }
        .articulo-detalle .suscripcion-container h6{
        	border-bottom: 1px solid {{ultima_revista.color.color2}};
        }
        a.back-to-top{
            background-color: {{ultima_revista.color.color1}};
        }

	</style>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="revista-actual btnPrint">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-8">
						<div class="detalle-pais">
							<span class="fa fa-calendar"> {{ ultima_revista.get_mes_display }} {{ultima_revista.ano}} </span>
							<span class="fa fa-file-o"> {% trans "NÚMERO" %}  {{ultima_revista.numero}} </span>
						</div>


					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
					<div class="fuente pull-right">
						<a class="jfontsize-button" id="jfontsize-m2" href="#">
						- A
						</a>

						<a class="jfontsize-button" id="jfontsize-d2" href="#">
						A
						</a>

						<a class="jfontsize-button" id="jfontsize-p2" href="#">
						A +
						</a>
					</div>

						<!--<div class="fuente pull-right">
							<select name="" id="input" class="form-control size" required="required">
								<option value="16">16px</option>
								<option value="18">18px</option>
								<option value="20">20px</option>
								<option value="22">22px</option>
							</select>
						</div>-->
					</div>
				</div>

			</div>

			<div class="articulo-detalle">
				<h6 class="pais">
					<span>	{{object.idzona}}
						<span>
                             {% if object.opinion == True %}
                                   - OPINIÓN 
                            {% endif %}
                        </span>
                    </span>
				</h6>

				<h5 class="titulo-detalle">
					{{object.titulo}}
				</h5>
				{% if object.autornota %}
				<blockquote class="quote changeMe">
					{{object.autornota|safe}}
				</blockquote>
				<div class="autor-articulo changeMe">
					{{object.autor}}
				</div>
				{%endif%}
				<div class="detalle changeMe">
					{{object.texto|safe|linebreaks }}
				</div>

				<!--Agregar paginado a alos articulos-->
				<div class="suscripcion-container  visible-xs">
					<h6>{% trans "En este mismo número"%}:</h6>
					{% for obj in  articulos %}
						<div class="item-detalle">
						<ul>
							<li>
								<a class="link-titulo" href="{% url 'articulo-detalle' obj.id %}">
								{{obj.titulo|truncatewords:22|safe }}
								</a>
							</li>
						</ul>

						</div>
					{% endfor %}



				</div>
			</div>
			<div class="social-share">
				<div class="row">
					<div class="col-xs-4 col-sm-6 col-md-6 col-lg-6" >
						<p>{% trans "Compartir este articulo" %}:</p>
					</div>
					<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" >
						<ul class="pull-right">
							<li>
								<a class="customer share" href="http://www.facebook.com/sharer.php?u=http://envio.org.ni{{request.path}}" title="Facebook share" target="_blank">
									<span class="fa fa-facebook" ></span>
								</a>
							</li>
							<li>
								<a class="customer share" href="http://twitter.com/share?url=http://envio.org.ni{{request.path}}&amp;text={{object.titulo}}" title="Twitter share" target="_blank">
									<span class="fa fa-twitter" ></span>
								</a>
							</li>
							<li>
								<a class="customer share" href="https://plus.google.com/share?url=http://envio.org.ni{{request.path}}" title="Google Plus Share" target="_blank">
									<span class="fa fa-google-plus" ></span>
								</a>
							</li>

							<li>
								<a class="" href="mailto:amigo@example.com?subject={{object.titulo}}&amp;body=http://envio.org.ni{{request.path}}">
									<span class="fa fa-envelope" ></span>
								</a>
							</li>
							<li>
								<a class="btnPrint" href="#btnprint">
									<span class="fa fa-print" ></span>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div> <!-- social share -->
			<div class="row">
				{% disqus_show_comments %}
			</div>
		</div>
		{% include "sidebar.html" %}
	</div>
</div>
{% endblock contenido %}
