{% extends "base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_js %}
<link rel="stylesheet" href="/static/select2/css/select2.min.css">
<script src="/static/select2/js/select2.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    $('#id_temas').select2();
    $('#id_zona').select2();
    
  activaTab('aaa');
});
$('#id_mes_1,#id_mes_2,#id_year_1,#id_year_2, #id_buscar').addClass( "form-control" );

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
};

</script>
<script src="/static/js/list.min.js"></script>
<script type="text/javascript">
    /****tema****/
    var temaoptions = {
      valueNames: [ 'b-tema']
    };

    var userList = new List('temas-envios', temaoptions);
    /****zona****/
    var zonaoptions = {
      valueNames: [ 'b-zona']
    };

    var userList = new List('zona-envios', zonaoptions);
    /****autor****/
    var autoroptions = {
      valueNames: [ 'b-autor']
    };

    var userList = new List('autor-envios', autoroptions);
</script>
<script type="text/javascript">
 var urlmenu = document.getElementById( 'archivosDrop' );
 urlmenu.onchange = function() {
      window.open( this.options[ this.selectedIndex ].value, '_self');
 };
</script>
{% endblock extra_js %}

{% block contenido %}

 <style type="text/css">
        .barra-superior, .main-manu, .navbar-brand, .idiomas a.activo, .suscripcion a,
        footer,.navbar-toggle .icon-bar, .badge, .btn-sub{

            background-color: #a90129;
        }
        .idiomas a.activo{
            color: white;
            border-color: #a90129;
        }
        .paginado a, .navbar-toggle{
            border-color: #a90129;
        }
        .navbar-envios .navbar-nav>li.active>a, .navbar-envios .navbar-nav>li>a:focus,
        .navbar-envios .navbar-nav>li>a:hover, .revista-actual span, .pais,.pais span,
        .articulos p span a, .articulo-detalle h1, .articulo-detalle h2, .articulo-detalle h3,
        .articulo-detalle h4, .articulo-detalle h5, .articulo-detalle h6, a.link-titulo:hover,
        a.link-titulo:focus{
            color:#a90129;
        }
        hr{
            border-color:   #fbf2f4;

        }
        .revista-actual, .navbar-envios{
            border-bottom: 1px solid    #fbf2f4;
        }
        .sidebar, .sm-menu{
            background-color:   #fbf2f4;
        }
        .menu-buqueda a:hover, .menu-buqueda.nav-tabs>li.active>a{
            color:#a90129;
        }
        .left-inner-addon,  .rango-fecha h5{
          border-color:   #fbf2f4;  
        }
    </style>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
           <!-- <div class="revista-actual">
               <span class="fa">Sección de búsquedas</span> 
            </div>-->

            <div class="articulos">
                    <div class="item">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                          
                                <ul class="nav nav-tabs menu-buqueda">
                                    <li  class="active">
                                        <a href="#ddd" data-toggle="tab" aria-expanded="true">
                                            <span class="fa fa-search"></span> Búsqueda avanzada
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#aaa" data-toggle="tab">
                                            <span class="fa fa-tag"></span> Temas  
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#bbb" data-toggle="tab">
                                            <span class="fa fa-globe"></span> Países
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#ccc" data-toggle="tab">
                                            <span class="fa fa-user"></span> Autores
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#eee" data-toggle="tab">
                                            <span class="fa fa-google"></span> Búsqueda con google
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tabs">
                                    <div class="tab-pane" id="aaa">
                                        <div id="temas-envios">
                                            <div class="left-inner-addon ">
                                                <i class="fa fa-search"></i>
                                                <input type="search" class="search form-control" placeholder="Buscar Tema" />
                                            </div>

                                          <ul class="list list-group">
                                            {% for obj in  all_temas %}
                                                <li class=" list-group-item">
                                                <a class="b-tema" href="{% url 'tema' obj.id %}">
                                                    {{obj}}
                                                    <span class="badge pull-right">{{obj.articulos_set.count}} 
                                                        <span>textos</span> 
                                                    </span>
                                                </a>
                                                </li>
                                            
                                            {% endfor %}
                                          </ul>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="bbb">

                                        <div id="zona-envios">
                                            <div class="left-inner-addon ">
                                                <i class="fa fa-search"></i>
                                                <input type="search" class="search form-control" placeholder="Buscar País" />
                                            </div>
                                            <ul class="list list-group">
                                            {% for obj in  all_zonas %}
                                                <li class=" list-group-item">
                                                <a class="b-zona" href="{% url 'zona' obj.id %}">
                                                    {{obj}}
                                                    <span class="badge pull-right">{{obj.articulos_set.count}} 
                                                        <span>textos</span> 
                                                    </span>
                                                </a>
                                                </li>
                                            
                                            {% endfor %}
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="ccc">

                                        <div id="autor-envios">
                                          <div class="left-inner-addon ">
                                                <i class="fa fa-search"></i>
                                                <input type="search" class="search form-control" placeholder="Buscar Autor" />
                                            </div>
                                            <ul class="list list-group">
                                            {% for obj in  all_autores %}
                                                <li class=" list-group-item">
                                                <a class="b-autor" href="{% url 'autor' obj.id %}">
                                                    {{obj}}
                                                    <span class="badge pull-right">{{obj.articulos_set.count}} 
                                                        <span>textos</span> 
                                                    </span>
                                                </a>
                                                </li>
                                            
                                            {% endfor %}
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="tab-pane  active" id="ddd">
                                        <div class="rango-fecha">
                                            <div class="row">
                                            <form action="{% url 'busqueda-avanzada' %}" method="POST" accept-charset="utf-8"> {% csrf_token %}
                                           
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                   
                                                    <h5> {% trans "Desde" %} </h5>
                                                    <div class="row">
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                            {{ form.mes_1 }}
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                            {{ form.year_1 }} 
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <h5> {% trans "Hasta" %} </h5>
                                                    <div class="row">
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                            {{ form.mes_2 }}
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                            {{ form.year_2 }} 
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="{{ form.zona.id_for_label }}"> {% trans "País" %} </label>
                                                {{form.zona}}
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="{{ form.temas.id_for_label }}"> {% trans "Temas" %} </label>
                                                {{form.temas}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label class="buscador-label" for="{{ form.buscar.id_for_label }}"> {% trans "Buscar general" %} </label>
                                                {{form.buscar}}
                                            </div>
                                        </div>
                                        <br>
                                        <input class='btn btn-sub center-block' type="submit" name="" value="Buscar">
                                     </form>
                                    </div>
                                    <div class="tab-pane" id="eee">


                                        <form method="get" action="http://www.google.com.ni/custom" target="_top">
                                            <div class="b-google">
                                                <a href="http://www.google.com/">
                                                   <img class="logogoogle center-block" src="/static/img/logogoogle.png" alt=""> 
                                                </a>
                                               
                                                    
                                                    
                                                <div class="row">

                                                    <div class="col-lg-8 col-lg-offset-2">
                                                        <div class="input-group">
                                                            <input type="hidden" name="domains" value="www.envio.org.ni">
                                                            <input type="text" name="q" class="form-control" placeholder="Buscar"  maxlength="255">
                                                            <span class="input-group-btn">
                                                                <input type="submit" class="btn btn-default" name="sa" value="Búsqueda">
                                                            </span>
                                                        </div><!-- /input-group -->
                                                    </div><!-- /.col-lg-6 -->
                                                </div><!-- /.row -->
                                               
                                                <div class="ocultar">
                                                    <input type="radio" name="sitesearch" value="www.envio.org.ni" checked="checked">
                                                        <font size="-1" color="#000000">www.envio.org.ni</font>
                                                </div>

                                            </div>
                                        </form>

                                        <!--
                                        <ul>
                                            <form method="get" action="http://www.google.com.ni/custom" target="_top">
                                            <table border="0" bgcolor="#cccccc">
                                            <tr>
                                                <td nowrap="nowrap" valign="top" align="left" height="32">
                                                    <a href="http://www.google.com/">
                                                    <img src="http://www.google.com/logos/Logo_25gry.gif" border="0" alt="Google"></a>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <input type="hidden" name="domains" value="www.envio.org.ni">
                                                    <input type="text" name="q" size="31" maxlength="255" value="">
                                                    <input type="submit" name="sa" value="B&uacute;squeda">
                                                </td>
                                            </tr>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="radio" name="sitesearch" value="www.envio.org.ni" checked="checked">
                                                        <font size="-1" color="#000000">www.envio.org.ni</font>
                                                    </td>
                                                </tr>
                                            </table>

                                            </table>
                                            </form>
                                        </ul>-->
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="sidebar">
                <div class="lema">
                    <p>
                       
                        {% blocktrans %}
                            Envío es información y análisis<br>de Nicaragua desde Nicaragua,<br> de Centroamérica desde Centroamérica<br>y de ese otro mundo posible<br>por el que trabajamos.
                        {% endblocktrans %}
                       

                    </p>
                    <div class="borde"></div>
                </div>
                {% include "busqueda_go.html" %}
                <div class="idioma-container">
                    <h6>{% trans "Idioma" %}</h6>
                    <div class="idiomas container-fluid">
                        <div class="row">
                            <a href="/lang/es/" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 es {% if LANGUAGE_CODE == 'es' %}activo{% endif %} ">
                                {% trans "Español"%}
                            </a>
                            <a href="/lang/en/" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 en {% if LANGUAGE_CODE == 'en' %}activo{% endif %}">
                                {% trans "Inglés"%}
                            </a>
                            <a href="http://www.ans21.org" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 it" target="_blank">
                                {% trans "Italiano"%}
                            </a>
                        </div>
                    </div>

                </div>
                <div class="suscripcion-container ">
                    <h6>{% trans "Archivo"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <select name="archivosDrop" id="archivosDrop" class="form-control archivo-select" required="required">
                                {% for obj in all_year reversed %}
                                    <option value="/archivos/{{obj.0}}/">{{obj.1}}</option>
                                {% endfor %}

                            </select>
                        </div>

                    </div>

                </div>

                <div class="suscripcion-container ">
                    <h6>{% trans "Suscríbete"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a href="/subcribase/" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Suscripción a la revista" %}
                            </a>
                        </div>

                    </div>

                </div>
                <div class="suscripcion-container ">
                    <h6>{% trans "Donación"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Haz tu donación ahora" %}
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
