{% extends "base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_js %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('select').select2();
  activaTab('aaa');
});

function activaTab(tab){
  $('.nav-tabs a[href="#' + tab + '"]').tab('hide');
};
</script>
{% endblock extra_js %}

{% block contenido %}

 <style type="text/css">
        .barra-superior, .main-manu, .navbar-brand, .idiomas a.activo, .suscripcion a,
        footer,.navbar-toggle .icon-bar{

            background-color: #a90129;
        }
        .idiomas a.activo{
            color: white;
            border-color: #a90129;
        }
        .paginado a, .navbar-toggle{
            border-color: #a90129;
        }
        .navbar-envios .navbar-nav>li.active>a, .navbar-envios .navbar-nav>li>a:focus,
        .navbar-envios .navbar-nav>li>a:hover, .revista-actual span, .pais,.pais span,
        .articulos p span a, .articulo-detalle h1, .articulo-detalle h2, .articulo-detalle h3,
        .articulo-detalle h4, .articulo-detalle h5, .articulo-detalle h6, a.link-titulo:hover,
        a.link-titulo:focus{
            color:#a90129;
        }
        hr{
            border-color:   #fbf2f4;

        }
        .revista-actual, .navbar-envios{
            border-bottom: 1px solid    #fbf2f4;
        }
        .sidebar, .sm-menu{
            background-color:   #fbf2f4;
        }

    </style>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="articulos">
                    <div class="item">
                        <h5 class="articulo-titulo">Sección de búsquedas</h5>
                       
                        <ul class="nav nav-tabs">
                            <li><a href="#aaa" data-toggle="tab">Temas</a></li>
                            <li><a href="#bbb" data-toggle="tab">Zonas</a></li>
                            <li><a href="#ccc" data-toggle="tab">Autores</a></li>
                            <li><a href="#ddd" data-toggle="tab">Búsqueda avanzada</a></li>
                            <li><a href="#eee" data-toggle="tab">Búsqueda con google</a></li>
                        </ul>
                        <div class="tab-content" id="tabs">
                            <div class="tab-pane" id="aaa">
                                <ul>
                                {% for obj in  all_temas %}
                                    <li><a href="{% url 'tema' obj.id %}">{{obj}}</a> - articulos escritos con este tema {{obj.articulos_set.count}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane" id="bbb">
                                <ul>
                                {% for obj in all_zonas  %}
                                    <li><a href="{% url 'zona' obj.id %}">{{obj}} </a>-  articulos escritos por zonas {{obj.articulos_set.count}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane" id="ccc">
                                <ul>
                                    {% for obj in all_autores %}
                                        <li><a href="{% url 'autor' obj.id %}">{{obj}}</a> - No. articulos escritos {{obj.articulos_set.count}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane" id="ddd">
                                <ul>
                                    {{form.as_p}}
                                </ul>
                            </div>
                            <div class="tab-pane" id="eee">
                                <ul>
                                    <form method="get" action="http://www.google.com.ni/custom" target="_top">
                                    <table border="0" bgcolor="#cccccc">
                                    <tr>
                                        <td nowrap="nowrap" valign="top" align="left" height="32">
                                            <a href="http://www.google.com/">
                                            <img src="http://www.google.com/logos/Logo_25gry.gif" border="0" alt="Google"></img></a>
                                        </td>
                                        <td nowrap="nowrap">
                                            <input type="hidden" name="domains" value="www.envio.org.ni"></input>
                                            <input type="text" name="q" size="31" maxlength="255" value=""></input>
                                            <input type="submit" name="sa" value="B&uacute;squeda"></input>
                                        </td>
                                    </tr>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="radio" name="sitesearch" value="www.envio.org.ni" checked="checked"></input>
                                                <font size="-1" color="#000000">www.envio.org.ni</font>
                                            </td>
                                        </tr>
                                    </table>

                                    </table>
                                    </form>
                                </ul>
                            </div>
                        </div>
                      
                    </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="sidebar">
                <div class="lema">
                    <p>
                        <span class="fa fa-quote-left "></span>
                        {% blocktrans %}Envío es información y análisis de Nicaragua desde Nicaragua de Centroamérica desde Centroamérica y de ese otro mundo posible por el que trabajamos.{% endblocktrans %}
                        <span class="fa fa-quote-right "></span>

                    </p>
                    <div class="borde"></div>
                </div>
                {% include "busqueda_go.html" %}
                <div class="idioma-container">
                    <h6>{% trans "Idioma" %}</h6>
                    <div class="idiomas container-fluid">
                        <div class="row">
                            <a href="/lang/es/" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 es {% if LANGUAGE_CODE == 'es' %}activo{% endif %} ">
                                {% trans "Español"%}
                            </a>
                            <a href="/lang/en/" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 en {% if LANGUAGE_CODE == 'en' %}activo{% endif %}">
                                {% trans "Ingles"%}
                            </a>
                        </div>
                    </div>

                </div>
                <div class="suscripcion-container ">
                    <h6>{% trans "ARCHIVO"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <select name="archivosDrop" id="archivosDrop" class="form-control archivo-select" required="required">
                                {% for obj in all_year reversed %}
                                    <option value="/archivos/{{obj.0}}/">{{obj.1}}</option>
                                {% endfor %}
                                
                            </select>
                        </div>

                    </div>

                </div>

                <div class="suscripcion-container ">
                    <h6>{% trans "Suscríbete"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Suscripción a la revista" %}
                            </a>
                        </div>

                    </div>

                </div>
                <div class="suscripcion-container ">
                    <h6>{% trans "Donación"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Haz tu donación ahora" %}
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
