{% extends "base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_js %}
<script type="text/javascript">
 var urlmenu = document.getElementById( 'archivosDrop' );
 urlmenu.onchange = function() {
      window.open( this.options[ this.selectedIndex ].value, '_self');
 };
</script>
{% endblock extra_js %}

{% block contenido %}
 <style type="text/css">
        .barra-superior, .main-manu, .navbar-brand, .idiomas a.activo, .suscripcion a,
        footer,.navbar-toggle .icon-bar{

            background-color: #a90129;
        }
        .idiomas a.activo{
            color: white;
            border-color: #a90129;
        }
        .paginado a, .navbar-toggle{
            border-color: #a90129;
        }
        .navbar-envios .navbar-nav>li.active>a, .navbar-envios .navbar-nav>li>a:focus,
        .navbar-envios .navbar-nav>li>a:hover, .revista-actual span, .pais,.pais span,
        .articulos p span a, .articulo-detalle h1, .articulo-detalle h2, .articulo-detalle h3,
        .articulo-detalle h4, .articulo-detalle h5, .articulo-detalle h6, a.link-titulo:hover,
        a.link-titulo:focus{
            color:#a90129;
        }
        hr{
            border-color:   #fbf2f4;

        }
        .revista-actual, .navbar-envios{
            border-bottom: 1px solid    #fbf2f4;
        }
        .sidebar, .sm-menu{
            background-color:   #fbf2f4;
        }

    </style>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="articulos">
                    <div class="item">
                        <h5 class="articulo-titulo">{% trans "Suscribete" %}</h5>
                        <p>
                        {{ form.non_field_errors }}
                            <form action="http://www.google.com" method="post">
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    <label for="{{ form.idtipo.id_for_label }}"> {% trans "Suscripción anual de 11 números" %} </label>
                                    {{ form.idtipo }}
                                </div>
                                 <div class="form-group">
                                    <label for="{{ form.nombre.id_for_label }}"> {% trans "Nombres y apellidos" %} </label>
                                    {{ form.nombre }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.institucion.id_for_label }}"> {% trans "Institución" %} </label>
                                    {{ form.institucion }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.direccion.id_for_label }}"> {% trans "Dirección" %} </label>
                                    {{ form.direccion }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}"> {% trans "Correo electronico" %} </label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.idpais.id_for_label }}"> {% trans "Pais" %} </label>
                                    {{ form.idpais }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.ciudad.id_for_label }}"> {% trans "Ciudad" %} </label>
                                    {{ form.ciudad }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.codigo.id_for_label }}"> {% trans "Código postal" %} </label>
                                    {{ form.codigo }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.apdo.id_for_label }}"> {% trans "Apartado postal" %} </label>
                                    {{ form.apdo }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.telefono.id_for_label }}"> {% trans "Teléfono" %} </label>
                                    {{ form.telefono }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.fax.id_for_label }}"> {% trans "Fax" %} </label>
                                    {{ form.fax }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.nueva.id_for_label }}"> {% trans "Suscripción" %} </label>
                                    {{ form.nueva }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.idioma.id_for_label }}"> {% trans "Idioma" %} </label>
                                    {{ form.idioma }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.envio.id_for_label }}"> {% trans "Envio" %} </label>
                                    {{ form.envio }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.ttipo.id_for_label }}"> {% trans "Datos tarjeta de crédito" %} </label>
                                    {{ form.ttipo }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.tnumero.id_for_label }}"> {% trans "Número de tarjeta" %} </label>
                                    {{ form.tnumero }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.fecha.id_for_label }}"> {% trans "Fecha de vencimiento" %} </label>
                                    {{ form.fecha }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.tnombre.id_for_label }}"> {% trans "Nombre del tarjeta habiente" %} </label>
                                    {{ form.tnombre }}
                                </div>
                                <p><input type="checkbox"> Por la presente autorizo al Instituto Histórico Centroamericano (IHCA) a cargar los gastos de mi suscripción a la revista Envío a mi tarjeta de crédito actual, como se indica en esta solicitud.
Si desea cancelar en EFECTIVO, CHEQUE o DEPOSITO (o prefiere enviar los datos por fax o correo) llene el siguiente formulario. Estos datos deben ser enviados a: Revista Envío, Apartado Postal A-194, Managua, Nicaragua.</p>
<hr>
<p>Para suscripciones electrónicas:

Los campos con asteriscos (*) son requeridos. Su correo electrónico será utilizado como medio para enviarle la revista mensualmente.

Los archivos serán enviados en formatos PDF.

Queda rigurosamente prohibida, sin la autorización escrita de los titulares del “Copyright”, bajo las sanciones establecidas en las Leyes, la reproducción total o parcial de estos artículos por cualquier medio o procedimiento, así como la distribución de copias de los mismos.</p>
                                
                                <input type="submit" value="Enviar" />
                            </form>
                        </p>
                    </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="sidebar">
                <div class="lema">
                    <p>
                        <span class="fa fa-quote-left "></span>
                        {% blocktrans %}Envío es información y análisis de Nicaragua desde Nicaragua de Centroamérica desde Centroamérica y de ese otro mundo posible por el que trabajamos.{% endblocktrans %}
                        <span class="fa fa-quote-right "></span>

                    </p>
                    <div class="borde"></div>
                </div>
                {% include "busqueda_go.html" %}
                <div class="idioma-container">
                    <h6>{% trans "Idioma" %}</h6>
                    <div class="idiomas container-fluid">
                        <div class="row">
                            <a href="/lang/es/" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 es {% if LANGUAGE_CODE == 'es' %}activo{% endif %} ">
                                {% trans "Español"%}
                            </a>
                            <a href="/lang/en/" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 en {% if LANGUAGE_CODE == 'en' %}activo{% endif %}">
                                {% trans "Ingles"%}
                            </a>
                        </div>
                    </div>

                </div>
                <div class="suscripcion-container ">
                    <h6>{% trans "ARCHIVO"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <select name="archivosDrop" id="archivosDrop" class="form-control archivo-select" required="required">
                                {% for obj in all_year reversed %}
                                    <option value="/archivos/{{obj.0}}">{{obj.1}}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                </div>

                <div class="suscripcion-container ">
                    <h6>{% trans "Donación"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Haz tu donación ahora" %}
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}