{% load google_cse_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Revista Envío</title>
        <link rel="shortcut icon" href="/static/img/enviopeque.jpg">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/main.css" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        {% block share_fb %}{% endblock share_fb %}



    </head>
    <body>

 <style type="text/css">
        .barra-superior, .main-manu, .navbar-brand, .idiomas a.activo, .suscripcion a,
        footer,.navbar-toggle .icon-bar{

            background-color: #a90129;
        }
        .idiomas a.activo{
            color: white;
            border-color: #a90129;
        }
        .paginado a, .navbar-toggle, .container-archivo .select-archivo .dw-anos{
            border-color: #a90129;
        }
        .revista-actual span, .pais,.pais span,
        .articulos p span a, .articulo-detalle h1, .articulo-detalle h2, .articulo-detalle h3,
        .articulo-detalle h4, .articulo-detalle h5, .articulo-detalle h6, a.link-titulo:hover,
        a.link-titulo:focus, .sub-titulo{
            color:#a90129;
        }
        hr{
            border-color:   #fbf2f4;

        }
        .revista-actual{
            border-bottom: 1px solid    #fbf2f4;
        }
        .sidebar, .sm-menu{
            background-color:   #fbf2f4;
        }
        .select-archivo h6, .select-archivo .dw-anos{
            color:#a90129;
        }
        .container-archivo{
            border-color: #fbf2f4;
        }


    </style>
        <header>
            <!-- <div class="barra-superior">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-sm-8 col-md-9 col-lg-10">
                            <img class="logo2" src="/static/img/Icono de Envio.png" alt="">
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-2">
                            <ul class="social-icon">
                                <li><a class="fa fa-facebook" href="https://www.facebook.com/Revista-Env%C3%ADo-105930609457482/" target="_blank"></a></li>
                                <li><a class="fa fa-twitter" href="https://twitter.com/RevistaEnvio" target="_blank"></a></li>
                                <li><a class="fa fa-google-plus" href="https://plus.google.com/u/1/+RevistaEnv%C3%ADoUCA" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="main-manu">
                <nav class="navbar navbar-envios">
                    <div class="container">
                        
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="/static/img/logoblanco.png" alt=""></a>
                        </div>

                        
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% if LANGUAGE_CODE == 'es' %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="/">{% trans "Inicio" %}</a></li>
                                <li><a href="/quienes-somos/">{% trans "¿Quiénes somos?" %}</a></li>
                                <li><a href="/busqueda-avanzada/">{% trans "Búsqueda" %}</a></li>
                                <li><a href="/archivos/">{% trans "Archivo" %}</a></li>
                                <li><a href="/equipo/">{% trans "Equipo"%}</a></li>
                            </ul>
                        {% else %}
                             <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="/">{% trans "Inicio" %}</a></li>
                                <li><a href="/about-us/">{% trans "¿Quiénes Somos?" %}</a></li>
                                <li><a href="/busqueda-avanzada/">{% trans "Búsqueda" %}</a></li>
                                <li><a href="/archivos/">{% trans "Archivo" %}</a></li>
                                <li><a href="/team/">{% trans "Equipo"%}</a></li>
                            </ul>
                        {%endif%}
                        </div>
                    </div>
                </nav>
            </div>
            {% for obj in portada %}
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for x in obj.fotos_set.all %}
                    <li data-target="#carousel-example" data-slide-to="{{forloop.revcounter0}}" {% if forloop.counter == 1 %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>

              <div class="carousel-inner">
                {% for x in obj.fotos_set.all %}
                <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                    {% thumbnail x.imagen "x400" crop="center" as im %}
                    <a href="#"><img src="{{ im.url }}" height="{{ im.height }}"/></a>
                    {% endthumbnail %}
                  
                  <div class="carousel-caption">
                    <p>{{x.frase|safe}}
                    </p>
                    <p class="autor-slide">
                            - {{x.autor}}
                    </p>
                  </div>
                </div>
                {% endfor %}

              </div>

              <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
             {% endfor %}
            
        </header>

        <div class="contenido">
            <div class="sm-menu visible-xs">
                <div class="row">
                    <div class="col-xs-6 ">
                        {% include "busqueda_go.html" %}
                    </div>
                    <div class="col-xs-6">
                        <div class="idioma-container">
                            <h6>{% trans "Idioma" %}</h6>
                            <div class="idiomas container-fluid">
                                <div class="row">
                                    <a href="/lang/es/" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 es {% if LANGUAGE_CODE == 'es' %}activo{% endif %} ">
                                        {% trans "Español"%}
                                    </a>
                                    <a href="/lang/en/" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 en {% if LANGUAGE_CODE == 'en' %}activo{% endif %}">
                                        {% trans "Ingles"%}
                                    </a>
                                    <a href="http://www.ans21.org" class="col-xs-6 col-sm-6 col-md-6 col-lg-4 it target="_blank"">
                                        {% trans "Italiano"%}
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% block contenido %}

            {% endblock contenido %}
        </div>
        <footer>
            <div class="logo-footer">
                <img class="center-block" src="/static/img/logoblanco.png" alt="">
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="texto-left">
                                <p>Revista Envío
                                <br> Edificio Nitlapán, 2do. piso
                                <br>Universidad Centroamericana UCA
                                </p>
                                <p>
                                    Apartado A-194
                                    <br>Managua, Nicaragua
                                </p>
                                
                            </div>

                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="texto-central">
                                <p>Tel: (505) 22782557</p>
                                <p>Email: envio@envio.org.ni</p>
                                <ul class="social-icon footer-social">
                                    <li><a class="fa fa-facebook" href="https://www.facebook.com/Revista-Env%C3%ADo-105930609457482/" target="_blank"></a></li>
                                    <li><a class="fa fa-twitter" href="https://twitter.com/RevistaEnvio" target="_blank"></a></li>
                                    <li><a class="fa fa-google-plus" href="https://plus.google.com/u/1/+RevistaEnv%C3%ADoUCA" target="_blank"></a></li>
                                </ul>
                                <p>
                                    © Copyright Revista Envío
                                <br>
                                    {% trans "Desarrollado por " %}<a href="http://simas.org.ni">SIMAS</a>
                                </p>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="texto-right">
                                <p>
                                    {% blocktrans %}Revista mensual de ánalisis <br>
                                    de Nicaragua y Centroamérica
                                    {% endblocktrans %}
                                </p>
                                <ul class="logos-footer">
                                    <li><a href=""><img src="/static/img/logouca.png" alt=""></a></li>
                                    <li><a href=""><img src="/static/img/logoihca.png" alt=""></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" class="back-to-top">Back to Top</a>

        <!-- jQuery -->
        <script src="/static/js/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="/static/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            var amountScrolled = 300;

            $(window).scroll(function() {
                if ( $(window).scrollTop() > amountScrolled ) {
                    $('a.back-to-top').fadeIn('slow');
                } else {
                    $('a.back-to-top').fadeOut('slow');
                }
            });

            
            $('a.back-to-top').click(function() {
                $('html, body').animate({
                    scrollTop: 0
                }, 700);
                return false;
            });
            $('#carousel-example').carousel({
                interval: 9000
            });
        </script>
        {% block extra_js %}

        {% endblock extra_js %}
    </body>
</html>
