{% load i18n %}
<form class="search-container" action="{% url 'googlesearch-results' %}" id="cse-search-box" method='GET'>
	<h6><span class="fa fa-search"></span> {% trans "Buscar" %}</h6>
	<div class="search-box">
    <input onclick="updateState.focus();" onblur="updateState.blur();" type="text" name="q" id="searchfield" class="search-input sm-imput" placeholder="Buscar">

    <a class="search-avanzada" href="/busqueda-avanzada/"><span class="fa fa-search"></span> {% trans "Otras búsquedas" %}</a>
    </div>
</form>

<script type="text/javascript">
    var searchfield = document.getElementById('searchfield');
    var updateState = {
        focus: function(){
            if (searchfield.value == 'Buscar...'){
                searchfield.value = '';
            }
        },
        blur: function(){
            if (searchfield.value == ''){
                searchfield.value = 'Buscar...';
            }    
        }
    }
    try{
        if (parseQueryFromUrl() != ''){
            window.onload=function(){
                searchfield.value = '' + parseQueryFromUrl();
            }
        }
    }catch (err){

    }
</script>