{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load thumbnail %}
<div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="sidebar">
                <div class="lema">
                    <p>
                       
                        
                            {% trans "Envío es información y análisis" %}<br>
                            {% trans "de Nicaragua desde Nicaragua," %}<br>
                            {% trans "de Centroamérica desde Centroamérica" %} <br>
                            {% trans "y de ese otro mundo posible" %}<br>
                            {% trans "por el que trabajamos." %}
                        
                       

                    </p>
                    <div class="borde"></div>
                </div>
                
                <div class="idioma-container">
                    <h6>{% trans "Idioma" %}</h6>
                    <div class="idiomas container-fluid">
                        <div class="row">
                            <a href="/lang/es/" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 es {% if LANGUAGE_CODE == 'es' %}activo{% endif %} ">
                                {% trans "Español"%}
                            </a>
                            <a href="/lang/en/" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 en {% if LANGUAGE_CODE == 'en' %}activo{% endif %}">
                                {% trans "Inglés"%}
                            </a>
                            <a href="http://www.ans21.org" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 it" target="_blank">
                                {% trans "Italiano"%}
                            </a>
                        </div>
                    </div>

                </div>

                <div class="suscripcion-container ">
                    <h6>{% trans "Suscríbete"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a href="/subcribase/" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Suscripción a la revista" %}
                            </a>
                        </div>

                    </div>

                </div>
                <div class="suscripcion-container ">
                    <h6>{% trans "Donación"%}</h6>
                    <div class="suscripcion container-fluid">
                        <div class="row">
                            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {% trans "Haz tu donación ahora" %}
                            </a>
                        </div>

                    </div>

                </div>
                <div class="publicacion-container ">
                    <h6>{% trans "Último número"%}</h6>
                    <div class="publicacion container-fluid">
                        <div class="row">
                            <a class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="img-publicacion">
                                {% if ultima.portada %}
                                    {% thumbnail ultima.portada "250x330"  as im %}
                                        <img src="/media/{{ im }}" alt="ultima.numero">
                                    {% endthumbnail %}
                                {% else %}
                                        <img class="center-block" src="http://placehold.it/250x330" alt="">
                                {% endif %}
                                </span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>